body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin-block: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: inline-block;
    padding-top: 24px;
    padding-block: 24px;
    margin-right: 76px;
}

.header-logo span {
    color: #4D5AE5;
}

.header-logo:hover, .header-logo:focus {
    color: #404bbf;
    text-decoration: none;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list { 
    display: flex;
    gap:40px;
}

.address-list {
    display: flex;
    gap:40px;
}

.header-item {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
}

.header-item,
.header-item-info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover, .header-item:focus {
    color: #404bbf;
}

.item-studio {
    color: #404bbf;
}

.item-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: #404BBF;
    border-radius: 2px;
}

.header-item-info {
    color: #434455;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
.header-item-info:hover, .header-item-info:focus {
    color:#404bbf;
}

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url('../images/img11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;  
    text-align: center;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

a {
    text-decoration: none;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
    max-width: 100%;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.features-list {
    display: flex;
    gap: 24px;
}

.our-features-icon-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-item{
    flex-basis: calc((100% - 72px) / 4);
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}

.our-team-li {
    background-color: white;
    border-radius: 0 0 4px 4px;
    padding-inline: 0px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-img {
    width: 264px;
    height: 260px;
}

.img-content {
    padding: 32px 16px;
}

.our-team-h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.icons-ul {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.team-icons-li {
    display: flex;
    gap: 24px;
}

.icon-bg {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg {
    fill: #f4f4fd;
}

.icon-bg:hover, .icon-bg:focus {
    background-color: #404bbf;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    justify-content: start;
}

.portfolio-line {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-img {
    flex-basis: calc((100% - 48px) / 3);
    position: relative;
}

.portfolio-img:hover {
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

.our-portfolio-container-img-div {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text-two {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover .portfolio-item-text-two {
    transform: translateY(0);
}

.portfolio-img {
    transition: box-shadow 250ms;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

.footer-logo span {
    color: #4D5AE5;
}

.footer {
    padding-top: 100px;
    color: #f4f4fd;
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    padding-top: 16px;
}

.our-team-icons {
    gap: 16px;
}

.footer-icons-div {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-icons-ul {
    margin-top: 16px;
    gap: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-from-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 16px;
}

.footer-from-input::placeholder {
    padding-left: 16px;
    color: #FFFFFF99;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.footer-from-input:hover {
    border: 1px solid #31D0AA;
}

.footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover {
    background-color: #31D0AA;
}

.footer-subscribe-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.footer-icon-bg:hover, .footer-icon-bg:focus {
    background-color: #31d0aa;
}

.footer-social-media {
    display: inline-block;
    max-width: 208px;
}

.social-media {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.container-footer-text {
    display: inline-block;
    max-width: 264px;
}

.footer-linked-icons {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.footer-linked-icons .linked-icon-bg:hover,
.footer-linked-icons .linked-icon-bg:focus {
    background-color: #31d0aa;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 47, 55, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    border: 1px solid #0000001A;
    background-color: #E7E9FC;
}

.modal-close-button:hover {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04;
    color: #8E8F99;
    display: inline-block;
}

.modal-field-wrapper {
    position: relative;
}

.modal-input {
    width: 360px;
    height: 40px;
    border: 1px solid #111;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
}

.modal-input:required {
    border-color: #4D5AE5;
}

.modal-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.modal-field-icon-user{
    fill: #4D5AE5;
}

.modal-textarea {
    width: 360px;
    height: 120px;
    border: 1px solid #111;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04ms;
    padding: 8px;
    padding-left: 16px;
    margin-bottom: 8px;
}

.modal-textarea::placeholder {
    color: #75757580;
}

.modal-check {
    width: 16px;
    height: 16px;
    border: 1px;
    border-radius: 2px;
    margin-right: 8px;
}

.modal-check-label {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04ms;
    color: #8E8F99;
    display: flex;
a {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04ms;
    text-decoration: underline;
    color: #4D5AE5;
}
}

.check-mark {
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + .modal-check-label .check-mark {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-button {
    width: 169px;
    height: 56px;
    background-color:#4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin-top: 24px;
    margin-left: 95px;
}

.modal-button:hover {
    background-color: #404BBF;
}